<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PriceAnalysisApp"
        tools:targetApi="31">
        <activity
            android:name=".Items.CommentsStub"
            android:exported="false" />
        <activity
            android:name=".Items.CommentAdapter"
            android:exported="false" />
        <activity
            android:name=".uiStuff.TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.PriceAnalysisApp.NoActionBar" />
        <activity
            android:name=".Items.ItemAdapter"
            android:exported="false" />
        <activity
            android:name=".Items.Technical"
            android:exported="false" />
        <activity
            android:name=".Items.LinkAdapter"
            android:exported="false" />
        <activity
            android:name=".uiStuff.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Items.ItemDisplay"
            android:exported="false" />
    </application>

</manifest>